<div class="main-form">
  <div class="form-container">
    <div class="centered-container">
      <h1>Become a Neighbour!</h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="form-flex">
            <%= f.input :name,
                required: true,
                autofocus: true,
                placeholder: "Your name" %>
            <%= f.input :alias,
                required: true,
                autofocus: true,
                placeholder: "Your alias" %>
          </div>
          <%= f.input :municipality,
                required: true,
                autofocus: true,
                collection: User::ADDRESSES %>
          <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "me@email.com",
                input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                placeholder: "0000000" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create a new account" %>
        </div>
      <% end %>
      <p>Already have an account? <%= render "devise/shared/links" %></p>
      <div class="back">
        <%= link_to root_path do %>
          <p><i class="fas fa-chevron-circle-left back-button"></i>Back</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="image-container-signup">
    <%= image_tag "signup.jpg", alt: "Signup Form"%>
  </div>
</div>