<%= render 'shared/navbar' %>
<div class="main-form">
  <div class="form-container">
    <h3>Choose a room</h3>
    <%= simple_form_for [@user, @participant] do |f| %>
      <%= f.association :room, collection: @rooms, prompt: "Choose a Room" %>
      <%= link_to 'Go back', user_path(@user), class: "btn-back" %>
      <%= f.submit "Join the room", class: "btn-sign" %>
    <% end %>
</div>
  <%= image_tag "room-form.png", alt: "Room Form", width: 550, height: 550, class: "img-room" %>
</div>
