<div class="container-header">
  <div class="header-font">
    <h3><span>User Profile</span></h3>
  </div>
  <div class="container-profile">
    <div class="profile-pic">
      <%= render 'modal' %>
      <h3><%= @user.name %></h3>
    </div>
    <div class="user-name-container">
      <div class="main-info">
        <p>User profile</p>
        <div class="flex-main-info">
          <p>Alias: <%= @user.alias %></p>
          <p>District: <%= @user.municipality %></p>
          <p>Email: <%= @user.email %></p>
        </div>
      </div>
      <div class="main-rooms">
        <% @user.rooms.each do |room| %>
          <p><%= room.name %></p>
        <% end %>
      </div>
      <div class="main-actions">
        <div class="profile-actions">
          <%= render 'participants/modal' %>
          <%= render 'messages/modal' %>
          <%= render 'events/modal' %>
        </div>
      </div>
    </div>
  </div>
</div>