<div class="chat-container">
  <div class = "sidebar-secondary">
    <div class= "sidebar-secondary-container">
      <div class = "box-header">
        <h2>Kairanban</h2>
        <div class="box-header-id">
          <i class="fas fa-circle"></i>
          <p><%= @user.alias %></p>
        </div>
      </div>
      <div class = "profile-box">
        <div class= "profile-title">
          <h3>Rooms</h3>
        </div>
        <div class = "profile-content channels">
          <ul>
            <% @user.rooms.each do |room| %>
              <% if room.name == @room.name %>
                <li class="white-room-name"><i class="fab fa-slack-hash white-room"></i><%= room.name %></li>
              <% else %>
                <li><i class="fab fa-slack-hash"></i><%= room.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <!--         <div class= "profile-title">
          <h3>Direct Messages</h3>
          <i class="fas fa-plus"></i>
        </div>
        <div class = "profile-content users">
          <ul>
            <% @room.users.each do |user| %>
              <% if user.id != @user.id %>
                <li><i class="fas fa-circle"></i><%= user.alias %></li>
              <% end %>
            <% end %>
          </ul>
        </div> -->
      </div>
    </div>
    <div class="room-back">
      <%= link_to user_path(current_user.id) do %>
        <p><i class="fas fa-chevron-circle-left back-button"></i>Back</p>
      <% end %>
    </div>
  </div>
  <div class= "c-container">
    <div class="chat-secondary-container">
      <div class="chat-title">
        <div class="room-name">
          <h2><%= @room.name %> Room</h2>
        </div>
        <input class="form-control search-form" type="text" placeholder="Search..." aria-label="default input example">
      </div>
      <div class="chat-display">
        <div class="inner-chat-display">
          <% if @room.room_type == "private" %>
            <%= render 'show_messages' %>
          <% else %>
            <%= render 'show_events' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>